[phases.setup]
nixPkgs = ["python39", "pip"]

[phases.install]
cmds = [
    "pip install -r requirements.txt",
    "python app/db_init.py"
]

[start]
cmd = "uvicorn app.main:app --host 0.0.0.0 --port $PORT"
